SERVER_IP = "127.0.0.1"
SERVER_PORT = "8080"

DOCKER_EXPOSED_PORT = "8080"

DATABASE_NAME = "database"
DATABASE_PATH = "rocksdb:/var/lib/surrealdb"
USER_DATABASE_NAMESPACE = "users"

OFFER_DB_NAMESPACE = "offers"
JWT_SECRET = ""
ENCRYPTION_KEY = ""