SERVER_IP = "0.0.0.0"
SERVER_PORT = "8080"
DOCKER_EXPOSED_PORT = "8080"
DATABASE_PATH = "rocksdb:/var/lib/surrealdb"
ENCRYPTION_KEY = ""
DATABASE_NAMESPACE = "test"
DATABASE_NAME = "test"
JWT_SECRET = ""